.auth {
  // TODO: make this work responsively
  max-width: 400px;
  z-index: 50;
  @media (min-width: 400px) {
    width: 350px;
  }
}

.input.is-danger {
  transition: 0.4s ease;
  animation: fadeErrorBorder 0.4s forwards;
  opacity: 0;
}

@keyframes fadeErrorBorder {
  100% {
    opacity: 1;
  }
}