.auth {
  // TODO: make this work responsively
  width: 350px;
  z-index: 50;
}

.input.is-danger {
  transition: 0.4s ease;
  animation: fadeErrorBorder 0.4s forwards;
  opacity: 0;
}

@keyframes fadeErrorBorder {
  100% {
    opacity: 1;
  }
}