//  displays basic links to login/logout pages if on a small screen, else it will display the dropdown login
.desktop-auth {
  display: none;
  @media (min-width: 1088px) {
    display: flex;
  }
}

.mobile-auth {
  display: block;
  @media (min-width: 1088px) {
    display: none;
  }
}

.navbar-item {
  color: #fafafa;
}