.page-auth {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100%;
  margin-top: -52px;
  background: url(https://res.cloudinary.com/dmjolhdaq/image/upload/v1534626286/Crypto/blur.jpg) no-repeat center center fixed;
  @media (min-width: 1918px) {
    background: url(https://res.cloudinary.com/dmjolhdaq/image/upload/v1534633254/Crypto/blurryUHD.jpg) no-repeat center center fixed;
  }
  &-title {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  &-form {
    display: flex;
    justify-content: center;
    &-meta {
      text-align: center;
    }
  }
  .section {
    padding-bottom: 0px;
  }
}