.page-auth {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100%;
  margin-top: -52px;
  background-image: linear-gradient(135deg, #eead92 10%, #6018dc 100%);

  &-title {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  &-form {
    display: flex;
    justify-content: center;
    &-meta {
      text-align: center;
    }
  }
  .section {
    padding-bottom: 0px;
  }
}
