//  style for all canvases but there will only be one anyway
canvas {
  position: absolute;
  z-index: -1;
  width: 100vw !important;
  height: 90vh !important;
  margin-top: -53px;
}

.home {
  margin-top: 100px;
}