//  style for all canvases but there will only be one anyway
@import '../../../styles/variables.scss';
canvas {
  position: absolute;
  z-index: -1;
  width: 100vw !important;
  height: 90vh !important;
  margin-top: -53px;
}

.home {
  margin-top: 100px;
  &-scroll {
    height: 35px;
    width: 35px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    opacity: 0.8;
    margin-top: 100px;
  }
}