//  style for all canvases but there will only be one anyway
@import '../../../styles/variables.scss';
canvas {
  position: absolute;
  z-index: -1;
  width: 100vw !important;
  height: 600px !important;
  margin-top: -52px;
  background-image: linear-gradient(135deg, #ffa6b7 10%, #1e2ad2 100%);
  @media (min-width: 768px) {
    height: 850px !important;
  }
}

.home {
  margin-top: 100px;
  &-scroll {
    height: 35px;
    width: 35px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    opacity: 0.8;
    margin-top: 50px;
  }
  &-cards {
    margin-top: 100px;
    color: #fafafa;
    @media (min-width: 768px) {
      margin-top: 300px;
    }
    &-item {
      height: 250px;
      background: rgba(22, 19, 51, 0.3);
      border-radius: 4px;
      padding: 0 25px;
      margin-bottom: 50px;
      &-subtitle {
        color: $primary-color;
        padding: 15px 0;
        font-weight: 500;
        font-size: 1.2em;
      }
      &-title {
        font-size: 1.8em;
        padding: 0 0 15px 0;
        font-weight: 700;
      }
      &-body {
        opacity: 0.6;
      }
    }
  }
  &-signup {
    margin-top: 50px;
    &-text {
      margin-top: 20px;
      opacity: 0.9;
    }
  }
}
