.profilestats {
  // height: 600px;
  &-title {
    color: #2e2e2e;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &-subtitle {
    color: #2e2e2e;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0px;
  }
  &-body {
    display: flex;
    p {
      flex-basis: 50%;
      text-align: center;
      font-weight: 600;
    }
  }
  &-item {
    transition: 0.5s ease;
    opacity: 0;
    animation: 0.5s itemAnimation forwards;
    height: 0px;
  }
}

@keyframes itemAnimation {
  100% {
    opacity: 1;
    height: 65px;
  }
}