.profilestats {
  // height: 600px;
  &-title {
    color: #2e2e2e;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &-body {
    display: flex;
    p {
      flex-basis: 50%;
      text-align: center;
      font-weight: 600;
    }
  }
}