@import '../../../../styles/variables.scss';
.profilestats {
  &-title {
    color: $primary-dark;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &-subtitle {
    color: $primary-dark;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0px;
  }
  &-body {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      line-height: 100%;
    }
    p {
      // aligns everything properly
      flex-basis: 100%;
      text-align: center;
      font-weight: 600;
      color: $primary-dark;
      display: block;
    }
  } // the text on this could be aligned slightly better
  &-item {
    padding: 10px;
    transition: 0.6s ease-out;
    opacity: 0;
    animation: 0.6s itemAnimation forwards;
    height: 0px;
    &-close {
      display: block;
      text-align: right;
      height: 17px;
      i {
        transition: 0.2s ease-out;
        opacity: 1;
        font-size: 1.1em;
        color: $primary-dark;
        &:hover {
          opacity: 1;
          transition: 0.2s ease-out;
          color: $secondary-color;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width:768px) {
  @keyframes itemAnimation {
    100% {
      opacity: 1;
      height: 64px;
    }
  }
}

@media (max-width: 769px) {
  @keyframes itemAnimation {
    100% {
      opacity: 1;
      height: 110px;
    }
  }
}