@import '../../../styles/variables.scss';
.currentprices {
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid;
  border-image: linear-gradient(to top, #6bc9ff00 0%, $transparent-primary-color 100%);
  border-image-slice: 1;
  &-text {
    animation: 2500ms pricesAnim infinite;
  }
}

@keyframes pricesAnim {
  0% {
    opacity: 0;
    transform: translateY(-50px)
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  85% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(+50px);
    opacity: 0;
  }
}