@import '../../../styles/variables.scss';
.currentprices {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 150px;
  &-text {}
}

.currentprices-anim {
  animation: 2500ms pricesAnim infinite;
}

@keyframes pricesAnim {
  0% {
    opacity: 0;
    transform: translateY(-50px)
  }
  20% {
    opacity: 1;
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}