@import '../Components/Hoc/Auth/auth.scss';
@import '../Components/Hoc/Modal/modal.scss';
@import '../Components/Hoc/Navbar/navbar.scss';
@import './variables.scss';
html {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

// todo: remove/add 
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  &:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
}