// Hoc
@import '../Components/Hoc/Auth/auth.scss';
@import '../Components/Hoc/Modal/modal.scss';
@import '../Components/Hoc/Navbar/navbar.scss';
@import '../Components/Hoc/CurrentPricesScroller/currentpricesscroller.scss';
@import '../Components/Hoc/CoinSearch/coinsearch.scss';
// Home
@import '../Components/Pages/Home/home.scss';
// Profile
@import '../Components/Pages/Profile/profile.scss';
@import '../Components/Pages/Profile/ProfileFriends/profilefriends.scss';
@import '../Components/Pages/Profile/ProfileStats/profilestats.scss';
// Variables
@import './variables.scss';
// global styles go here
html {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(22, 19, 51);
}

i {
  color: #fafafa;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.title,
.subtitle {
  color: #fafafa;
}

// todo: remove/add 
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  &:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.primarybutton {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  border: 0px;
  color: #fafaface;
  transition: 0.2s ease-in-out;
  &:hover {
    color: #fafaface;
    transition: 0.4s ease-in-out;
    background-position: 100px;
  }
}